/************************************HEADER UL LI FIXED POSITION****************************************/

header ul li
{
  list-style-type: none;
  position: fixed;
  color: white;
  font-family: "Open Sans";
  font-weight: 800;
}

/*************************************HEADER UL LI RELATIVE POSITION***************************/

header ul li
{
  display: inline-block;
  position: relative;
  left: 250px;
  bottom: 55px;
  font-family: sans-serif;
  margin-left: 30px;
  font-size: 14px;

}

/******************************************BUTTON*****************************************************/

button
{
  position: relative;
  bottom: 105px;
  left: 85%;
  /*vertical-align: middle;*/
  height: 40px;
  min-width: 40px;
  padding: 0.20px;
  line-height: 38px;
  outline: none;
  text-align: center;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
  color: white;
  border: 1px white solid;
  width: 150px;
}

/************************************************HEADER*********************************************/

header
{
  background-color: #F56B2A;
  height: 60px;
}

/***************************************************BODY*******************************************/

body
{
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

/******************************************************IMG**********************************************/

#logo
{
  position: relative;
  left: 120px;
}

/*********************************************a li:hover***************************************************/
a li:hover
{
  text-decoration: underline;

}

/**************************************************LI************************************************/

li
{
  list-style-type: none;
}

/***************************************************************.REGION*************************/

.region
{
  position: absolute;
  right: 150px;
}

.carte
{
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
}
