/************************************HEADER UL LI FIXED POSITION****************************************/

header ul li
{
  list-style-type: none;
  position: fixed;
  color: white;
  font-family: "Open Sans";
  font-weight: 800;
}

/*************************************HEADER UL LI RELATIVE POSITION***************************/

header ul li
{
  display: inline-block;
  position: relative;
  left: 250px;
  bottom: 55px;
  font-family: "Open Sans";
  margin-left: 30px;
  font-size: 14px;

}

/******************************************BUTTON*****************************************************/

button
{
  position: relative;
  bottom: 105px;
  left: 85%;
  /*vertical-align: middle;*/
  height: 40px;
  min-width: 40px;
  padding: 0.20px;
  line-height: 38px;
  outline: none;
  text-align: center;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
  color: white;
  border: 1px white solid;
  width: 150px;
}

/************************************************HEADER*********************************************/

header
{
  background-color: #F56B2A;
  height: 60px;
}

/***************************************************BODY*******************************************/

body
{
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

/******************************************************IMG**********************************************/

#logo
{
  position: relative;
  left: 120px;
}

/*********************************************a li:hover***************************************************/
a li:hover
{
  text-decoration: underline;

}

/**************************************************LI************************************************/

li
{
  list-style-type: none;
}

/***************************************************************.REGION*************************/

.region
{
  float: right;
  display: inline-block;
  text-align: right;
  margin-right: 100px;
  margin-top: 20px;
}

/***********************************************************.CARTE*****************************************/

.carte
{
  display: inline-block;
  margin-left: 500px;
  margin-top: 80px;
}

/*****************************************************.CARTE IMG**********************************************/

.carte img
{
  width: 100%;
}

/************************************************************UL A*************************************************************/

ul a{
  text-decoration: none;
  font-family: "Open Sans";
  color: #336699;
}

/**************************************************************.REGION UL A:HOVER*************************************/

.region ul a:hover
{
  color: #F56B2A;
}

/**************************************************************************************************************************/
/***************************************************************************************************************************************/
/***************************************************************************************************************************/

                                    MEDIA QUIERIES

/*****************************************************************************************************************/
/*********************************************************************************************************************/
/****************************************************************************************************************/


@media screen and (max-width: 1024px) {
  .carte {
    margin: 0 auto;
    width: 100%;
    margin-top: 40px;
  }

  .region ul a li{
    display: none;
  }

  header ul li {
    display: none;
  }

    button {
      display: none;
    }

    #logo {
      position: relative; 
      left: 90px;
    }
}
